# Google OAuth Client ID
# You can get this from the Google Cloud Console: https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID_HERE"

# Google Sheet ID
# This is the long string in the URL of your Google Sheet.
# Example: https://docs.google.com/spreadsheets/d/THIS_IS_THE_ID/edit
VITE_GOOGLE_SHEET_ID="YOUR_GOOGLE_SHEET_ID_HERE"
